body{
    background-color: gainsboro;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:ivory;
}

h1 {
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin:0;
}

#horizontale1{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#Menu{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#Menu h1{
    border-top: 3px;
    padding : 2px 100px;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    border-radius: 10px;
}

#vue{
  width:40%;
}

#Menu p{
    width: 60%;
    padding: 0px 5px;
    text-align: center;
}

#blason{
    width:13%;
    height: 13%;
    padding: 5px;

}

#blason2{
    width:13%;
    height: 13%;
    padding: 10px;
}
.blasons{
    transform: rotateX(0deg);
    transition: transform 1s;
}

.blasons:hover{
    transform: rotateX(180deg);
    transition: transform 1s;
}
#Pseudo{
    height:15px;
}

#PlayButton, button{
    padding: 5px 10px;
    color: #eee;
    border-radius: 4px;
    background-color:  #636363 ;
    background-image: linear-gradient(#ffffff, #000000 50%, transparent 50%);
    box-shadow: 0 1px 0 rgba(255,255,255,.1),
                0 0 1px 1px rgba(255,255,255,.3) inset,
                0 1px rgba(255,255,255,.4) inset;
    border: 1px solid black;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    outline:none;
}

#PlayButton:hover, #PlayButton:focus, button:hover, button:focus {
    color: white;
    background-color: #7f7985;
    box-shadow: 0 1px 0 rgba(255,255,255,.1),
                0 0 1px 1px rgba(255,255,255,.3) inset,
                0 1px rgba(255,255,255,.4) inset,
                0 0 5px rgb(0, 47, 255);
    border-color: rgba(255, 255, 255, .2);
}

#PlayButton:active, button:active {
    background-color: #2624bf;
    box-shadow: 0 1px 2px rgba(0,0,0,.6) inset,
                0 1px 0 rgba(255,255,255,.3);
    border: 1px solid black;
}

@media (max-width: 734px){
    #Pseudo{
        width:25%;
    }
    #mdp{
        width:25%;
    }
}
@media (max-width: 650px){
    #blason{
        height: 0px;
        width: 0px;
    }
    #blason2{
        height: 0px;
        width: 0px;
    }
}
@media (max-width: 460px){
    #Jouer{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
    }
    #Menu h1{
        padding: 2px 20px;
    }
}