#page{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 95%, 5%;
  background-color: ivory;
}


#Scoreboard{
  grid-row: 1;
  grid-column: 1;
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin:0;
}

#texte{
  align-self: "center";
}

#Quitter{
  align-self: "center";
  width: 80px;
}

button{
    height: 10%;
    padding: 5px 10px;
    color: #eee;
    border-radius: 4px;
    background-color:  #636363 ;
    background-image: linear-gradient(#ffffff, #000000 50%, transparent 50%);
    box-shadow: 0 1px 0 rgba(255,255,255,.1),
                0 0 1px 1px rgba(255,255,255,.3) inset,
                0 1px rgba(255,255,255,.4) inset;
    border: 1px solid black;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    outline:none;
}

button:hover, button:focus {
  color: white;
  background-color: #7f7985;
  box-shadow: 0 1px 0 rgba(255,255,255,.1),
              0 0 1px 1px rgba(255,255,255,.3) inset,
              0 1px rgba(255,255,255,.4) inset,
              0 0 5px rgb(0, 47, 255);
  border-color: rgba(255, 255, 255, .2);
}

button:active {
  background-color: #2624bf;
  box-shadow: 0 1px 2px rgba(0,0,0,.6) inset,
              0 1px 0 rgba(255,255,255,.3);
  border: 1px solid black;
}

#License p{
  align-self: center;
  font-size: 0.8em;
  margin: 0;
}

#License{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

td{
  background-color:beige;
  border: 1px solid black;
}

th{
  background-color: antiquewhite;
  border: 2px solid black;
}

table{
  width:70%;
}